
body{
    background: var(--color-preto);
}

p, h2{
    color: var(--color-branco);
}

button:hover{
    color: var(--color-preto);
}

input{
    background: var(--color-preto);
    color: var(--color-botao);
}

::placeholder{
    color: var(--color-branco);
}
