*{
    font-family: var(--fonte-moderna);
    text-decoration: none;
    outline: none;
}

body{
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    background: var(--color-branco);
    width: 300px;
    height: 300px;
}

td{
    border-radius: 8px;
    text-align: center;
    width: 100px;
    color: var(--color-branco);
    font-family: var(--fonte-moderna);
    font-size: 30px;
}

p, h2{
    font-family: var(--fonte-moderna);sans-serif;
}
h2{
    display: none;
}

.msg, .all{
    text-align: center;
    justify-content: space-between;
}
button{
    transition: all .3s;
    cursor: pointer;
    border: 2px solid #673AB7;
    color: #673AB7;
    border-radius: 10px;
    background: var(--color-branco);
    padding: 10px;
    font-weight: 600;
    font-family: var(--fonte-moderna);sans-serif;
}
button:hover {
    background: #673AB7;
    color: var(--color-preto);
}
button:focus{
    outline: none;
}
input{
    border: 2px solid #673AB7;
    border-radius: 8px;
    padding: 10px 32px;
    margin-bottom: 20px;
}
input:focus{
    outline: none;
}
